<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='bower/materialize/bin/materialize.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script type='text/javascript' src='bower/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='bower/materialize/bin/materialize.js'></script>
    <script type="text/javascript">
      $(document).ready( _ => {
         $(".button-collapse").sideNav();
      })
    </script>
  </head>
  <body>


    <nav class='deep-purple darken-2  index-nav'>
      <div class="nav-wrapper valign-wrapper">
       <a href="#" class="brand-logo center">IT Society</a>
       <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a {{{news}}} href="/news">News</a></li>
         <li><a {{{about}}} href="/about">About</a></li>
         <li><a {{{contact}}} href="/contact">Contact</a></li>
       </ul>
       <ul class="side-nav" id=mobile-nav>
         <li><a {{{news}}} href="/news">News</a></li>
         <li><a {{{about}}} href="/about">About</a></li>
         <li><a {{{contact}}} href="/contact">Contact</a></li>
       </ul>
     </div>

   </nav>

<main>
  <div class='container'>


        {{{body}}}


  </div>

</main>





  <footer class="page-footer deep-purple darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Get Social!</h5>

          <div class='row'>
            <div class='col s4'>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class='socialicon' src='images/icons/tw-white.png' /></a>
            </div>
            <div class='col s4'>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class='socialicon' src='images/icons/fb-white.png' /></a>
            </div>
            <div class='col s4'>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class='socialicon' src='images/icons/gh-white.png' /></a>
            </div>
          </div>


        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/news">Events</a></li>
            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 The IT Society
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>


  </body>
</html>
