<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='bower/materialize/bin/materialize.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script type='text/javascript' src='bower/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='bower/materialize/bin/materialize.js'></script>
    <script type="text/javascript">
      $(document).ready( _ => {
         $(".button-collapse").sideNav();
      })
    </script>
  </head>
  <body>


    <nav class='deep-purple darken-2'>
      <div class="nav-wrapper">
       <a href="#" class="brand-logo center">IT Society</a>
       <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a {{{news}}} href="/news">News</a></li>
         <li><a {{{about}}} href="/about">About</a></li>
         <li><a {{{contact}}} href="/contact">Contact</a></li>
       </ul>
       <ul class="side-nav" id=mobile-nav>
         <li><a {{{news}}} href="/news">News</a></li>
         <li><a {{{about}}} href="/about">About</a></li>
         <li><a {{{contact}}} href="/contact">Contact</a></li>
       </ul>
     </div>

   </nav>



    <div class='container'>


          {{{body}}}


    </div>
  </body>
</html>
